<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.people.mapper.OfficeMapper">
  <resultMap id="BaseResultMap" type="com.people.pojo.Office">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, job_id, job_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from office
    where id = #{id,jdbcType=INTEGER}
      and job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from office
    where id = #{id,jdbcType=INTEGER}
      and job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.people.pojo.Office" useGeneratedKeys="true">
    insert into office (job_id, job_name)
    values (#{jobId,jdbcType=INTEGER}, #{jobName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.people.pojo.Office" useGeneratedKeys="true">
    insert into office
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="jobName != null">
        job_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.people.pojo.Office">
    update office
    <set>
      <if test="jobName != null">
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.people.pojo.Office">
    update office
    set job_name = #{jobName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and job_id = #{jobId,jdbcType=INTEGER}
  </update>
</mapper>
